.App {
  text-align: center;
  font-size: large;
  background-color: aquamarine;
}

.input {
  font-size: large;
  background-color: lightslategrey;
}

.tasksList {
  display: flex;
  justify-content: center;
}
